@font-face {
    font-family: "FiraCode";
    src:
        local("FiraCode"),
        url(./assets/fonts/MyFont.woff) format("truetype");
}

.editor a {
    color: #0000ee;
}

.dark .editor a {
    color: rgb(152, 152, 243);
}
.editor a:hover {
    cursor: pointer;
}

.bn-container[data-color-scheme="dark"] {
    --bn-colors-editor-background: #18181b !important;
}

.bn-default-styles {
    font-family: unset !important;
    font-size: unset !important;
}

.bn-container {
    font-family: unset !important;
    font-size: unset !important;
}