name: "ts-tests"

on:
  pull_request:
  push:
    branches: [main]

jobs:
  ts-tests:
    name: TypeScript Tests
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install Dependencies
        run: bun install
      - name: TypeScript Tests
        run: bun test-once
