name: "tsc-check"

on:
  pull_request:
  push:
    branches: [main]

jobs:
  tsc-check:
    name: TypeScript Check
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install Dependencies
        run: bun install
      - name: Check Tauri Plugin Versions
        run: bun run script/check-tauri-versions
      - name: TypeScript Check
        run: ./node_modules/.bin/tsc --noEmit
